<div class="row"><h3 style="padding-left: 0.4em;">Most reviewed models</h3></div>
<div class="row">
<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <nb-card size="medium">
    <div class="picture" style="background-image:url('assets/images/iphone11.png')"></div>

    <div class="details">
      <div class="h4">Iphone 11 Pro</div>
      <div class="description">
          A new dual camera system captures more of what you see and love. The fastest chip ever in a smartphone and a longer-lasting battery let you do more and charge less. And the highest quality video in a smart­phone, so your memories look better than ever.
      </div>
    </div>

    <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
          <nb-icon icon="heart-outline" pack="eva"></nb-icon>
        </a>
        <a href="https://www.amazon.co.uk/Apple-iPhone-11-64GB-White/dp/B07XRNHVLT/ref=sr_1_1_sspa?keywords=iphone+11&qid=1575214119&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExUFRQMU00SldCWlZFJmVuY3J5cHRlZElkPUEwOTA0MDc3M0owR0pFRUdSWDFKUCZlbmNyeXB0ZWRBZElkPUEwMjQ3MTk5Mk0zSTNEMElWNkY2WSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" target="_blank">
          <nb-icon icon="pricetags-outline" pack="eva"></nb-icon>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
          <nb-icon icon="share-outline" pack="eva"></nb-icon>
        </a>
        <a href="/pages/iot-dashboard" target="_self">
          <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
        </a>
    </nb-card-footer>
  </nb-card>
</div>

<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <nb-card size="medium">
      <div class="picture" style="background-image:url('assets/images/oneplus7.png')"></div>
  
      <div class="details">
        <div class="h4">OnePlus 7T</div>
        <div class="description">
            Top-tier hardware, refined software, and powerful optimizations come together for the ultimate flagship experience. With 128 GB of lightning fast UFS 3.0 storage and 8 GB of optimized memory, everything is faster and smoother on the OnePlus 7T.
        </div>
      </div>
  
      <nb-card-footer>
          <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
            <nb-icon icon="heart-outline" pack="eva"></nb-icon>
          </a>
          <a href="https://www.amazon.co.uk/OnePlus-RAM-128-SIM-Free-Smartphone-Glacier-Blue/dp/B07XHJ821V/ref=sr_1_3?crid=3GJYPN7XC71I9&keywords=oneplus+7t&qid=1575215247&sprefix=oneplus%2Caps%2C132&sr=8-3" target="_blank">
            <nb-icon icon="pricetags-outline" pack="eva"></nb-icon>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
            <nb-icon icon="share-outline" pack="eva"></nb-icon>
          </a>
          <a href="/pages/iot-dashboard" target="_self">
            <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
          </a>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <nb-card size="medium">
        <div class="picture" style="background-image:url('assets/images/phoneapple.png')"></div>
    
        <div class="details">
          <div class="h4">Iphone X</div>
          <div class="description">
              True to life colours stretch all the way to the very edges of your phone, which is itself crafted from glass and aerospace-grade aluminium. A single lens wide angle camera gives you the power of portrait mode. Available in a range of distinctive colours.
          </div>
        </div>
    
        <nb-card-footer>
            <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
              <nb-icon icon="heart-outline" pack="eva"></nb-icon>
            </a>
            <a href="https://www.amazon.co.uk/Apple-iPhone-XR-128GB-Black/dp/B07JYYG8LR/ref=sr_1_1_sspa?keywords=iphone+xr&qid=1575215420&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzUFZQUDdNQVBFMks5JmVuY3J5cHRlZElkPUEwOTg4NjA5MkZaQUxMUFRWRDhVNyZlbmNyeXB0ZWRBZElkPUEwMTU1ODM2M09SMFg5VkxZM0JVNyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" target="_blank">
              <nb-icon icon="pricetags-outline" pack="eva"></nb-icon>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
              <nb-icon icon="share-outline" pack="eva"></nb-icon>
            </a>
            <a href="/pages/iot-dashboard" target="_self">
              <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
            </a>
        </nb-card-footer>
      </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="medium">
            <div class="picture" style="background-image:url('assets/images/huaweiy9.png')"></div>
        
            <div class="details">
              <div class="h4">Huawei Y9s</div>
              <div class="description">
                  The HUAWEI Y9 Prime 2019 features a unique dividing line that makes this design standout from the rest. On the smooth back, the special silk texture shimmers under the light and you can see the fine details clearly.
              </div>
            </div>
        
            <nb-card-footer>
                <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
                  <nb-icon icon="heart-outline" pack="eva"></nb-icon>
                </a>
                <a href="https://www.amazon.co.uk/FullView-Dewdrop-Smartphone-Sim-Free-Sapphire-Blue/dp/B07P6FY4F3/ref=sr_1_1?crid=1HUO4ZY4470DU&keywords=huwaei+y9&qid=1575215454&smid=A3P5ROKL5A1OLE&sprefix=huwaei+y9s%2Caps%2C147&sr=8-1" target="_blank">
                  <nb-icon icon="pricetags-outline" pack="eva"></nb-icon>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
                  <nb-icon icon="share-outline" pack="eva"></nb-icon>
                </a>
                <a href="/pages/iot-dashboard" target="_self">
                  <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
                </a>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
            <nb-card size="medium">
                <div class="picture" style="background-image:url('assets/images/samsungs10.png')"></div>
            
                <div class="details">
                  <div class="h4">Samsung S10</div>
                  <div class="description">
                      The Galaxy S10+ introduces a stunning new Infinity-O Display. It’s crafted from flawless glass which wraps perfectly from edge to edge.With no home button, no notch for the receiver and a simple dot opening for the front camera. 
                  </div>
                </div>
            
                <nb-card-footer>
                    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
                      <nb-icon icon="heart-outline" pack="eva"></nb-icon>
                    </a>
                    <a href="https://www.amazon.co.uk/Samsung-Galaxy-Dual-SIM-Android-Smartphone-Prism-Black/dp/B07NWR7QYQ/ref=sr_1_1?keywords=samsung+s10%5C&qid=1575215497&sr=8-1" target="_blank">
                      <nb-icon icon="pricetags-outline" pack="eva"></nb-icon>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
                      <nb-icon icon="share-outline" pack="eva"></nb-icon>
                    </a>
                    <a href="/pages/iot-dashboard" target="_self">
                      <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
                    </a>
                </nb-card-footer>
              </nb-card>
            </div>


            <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
                <nb-card size="medium">
                    <div class="picture" style="background-image:url('assets/images/xiaomimi9.png')"></div>
                
                    <div class="details">
                      <div class="h4">Xiaomi MI 9</div>
                      <div class="description">
                          Now, the Snapdragon™ 855 presents another leap forward in performance. Made with 7nm process technology, it leads the pack, and we are proud to be the first to put it in your hands through Mi 9.
                      </div>
                    </div>
                
                    <nb-card-footer>
                        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
                          <nb-icon icon="heart-outline" pack="eva"></nb-icon>
                        </a>
                        <a href="https://www.amazon.co.uk/Xiaomi-Dual-128GB-Ocean-Blue-Black/dp/B07P5YVS48/ref=sr_1_3?keywords=Xiaomi+MI+9&qid=1575215525&sr=8-3" target="_blank">
                          <nb-icon icon="pricetags-outline" pack="eva"></nb-icon>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
                          <nb-icon icon="share-outline" pack="eva"></nb-icon>
                        </a>
                        <a href="/pages/iot-dashboard" target="_self">
                          <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
                        </a>
                    </nb-card-footer>
                  </nb-card>
                </div>
</div>