<div class="carousal">
  <slideshow [height]="height" [minHeight]="'525px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageSources"
    [showDots]="true" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
  </slideshow>
  <div class="title-div">
    <h3 style="padding-left: 0.4em;color: white;">Iphone 11 Pro</h3>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <nb-card accent="success">
      <nb-card-header>
        <nb-icon icon="person-done" pack="eva"></nb-icon> <span style="padding-left: 10px;">Commenders opinion</span>
      </nb-card-header>
      <nb-card-body>
        <ul>
          <li>New triple cameras are fantastic</li>
          <li>A13 Bionic is fastest phone chip</li>
          <li>More durable glass front and back</li>
          <li>OLED display a lot brighter</li>
          <li>Longer rated battery life</li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-6">

    <nb-card accent="danger">
      <nb-card-header>
        <nb-icon icon="person-delete" pack="eva"></nb-icon> <span style="padding-left: 10px;">Critics opinion</span>
      </nb-card-header>
      <nb-card-body>
        <ul>
          <li>Shorter battery life than iPhone 11 Pro Max and iPhone 11</li>
          <li>Just 64GB of storage for starting price</li>
          <li>A bit heavier and thicker than iPhone XS</li>
          <li>Design is identical to Xr</li>
          <li>No headphone Dongle in box</li>
        </ul>
      </nb-card-body>
    </nb-card>

  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-8">

    <nb-card>
      <nb-card-header>Overall Sentiment Analysis</nb-card-header>
      <nb-card-body>
        <div echarts [options]="options" class="echart"></div>
      </nb-card-body>
    </nb-card>

  </div>
  <div class="col-6 col-md-4">

    <nb-card>
      <nb-card-header>2 Minute Review</nb-card-header>
      <nb-card-body>
        The iPhone 11 has a large 6.1-inch display with a premium-feeling body, and comes in an array of colors too.

        The most eye-catching feature of the new iPhone is to the imaging capabilities: with two sensors on the rear,
        you can now take wider-angle snaps alongside the ‘normal’ main images. These sensors are 12MP each, and are
        raised from the rear of the phone in a square glass enclosure - which we’re not enamored with visually.

        The night mode is the most impressive part of the iPhone 11 imaging quality, bringing brightness and clarity to
        impossibly dark scenes, and the Portrait mode, defocusing the background, is improved on the new iPhone too.

        The design hasn’t updated much from the iPhone XR in 2018,although comes with six colors. The edges of the iPhone 11 still have the same feel as the older
        iPhone 6, 7 and 8, although the larger 6.1-inch display in the middle takes up most of the front of the phone.
      </nb-card-body>
    </nb-card>



  </div>

</div>

<div class="row">
  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>

        <div class="visited-date">
          Camera
        </div>

        <div class="visited-pages-count">
          <div class="caption">Total Tweets</div>
          <div class="value">7422</div>
        </div>

        <div class="visited-percentages">
          <div class="caption">Sentiment, %</div>
          <div class="delta value up">
            <nb-icon icon='arrow-up' pack="eva"></nb-icon>
            64%
          </div>
          <div class="delta value down">
            <nb-icon icon='arrow-down' pack="eva"></nb-icon>
            25%
          </div>
        </div>

      </nb-accordion-item-header>
      <nb-accordion-item-body>
        MAIN CAMERA-Triple-12 MP, f/1.8, 26mm (wide), 1/2.55", 1.4µm, dual pixel PDAF, OIS
        12 MP, f/2.0, 52mm (telephoto), 1/3.4", 1.0µm, PDAF, OIS, 2x optical zoom
        12 MP, f/2.4, 13mm (ultrawide)
        Features-Quad-LED dual-tone flash, HDR (photo/panorama)
        Video-2160p@24/30/60fps, 1080p@30/60/120/240fps, HDR, stereo sound rec.
        SELFIE CAMERA-Dual-12 MP, f/2.2, 23mm (wide)
        SL 3D camera
        Features-HDR
        Video-2160p@24/30/60fps, 1080p@30/60/120fps, gyro-EIS
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
      <nb-accordion-item-header>
        <div class="visited-date">
          Memory
        </div>

        <div class="visited-pages-count">
          <div class="caption">Total Tweets</div>
          <div class="value">2572</div>
        </div>

        <div class="visited-percentages">
          <div class="caption">Sentiment, %</div>
          <div class="delta value up">
            <nb-icon icon='arrow-up' pack="eva"></nb-icon>
            42%
          </div>
          <div class="delta value down">
            <nb-icon icon='arrow-down' pack="eva"></nb-icon>
            15%
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        PLATFORM-OS-iOS 13, upgradable to iOS 13.2
        Chipset-Apple A13 Bionic (7 nm+)
        CPU-Hexa-core (2x2.65 GHz Lightning + 4x1.8 GHz Thunder)
        GPU-Apple GPU (4-core graphics)
        MEMORY-Card slot-No
        Internal-64GB 4GB RAM, 256GB 4GB RAM, 512GB 4GB RAM
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
      <nb-accordion-item-header>
        <div class="visited-date">
          Battery
        </div>

        <div class="visited-pages-count">
          <div class="caption">Total Tweets</div>
          <div class="value">6237</div>
        </div>

        <div class="visited-percentages">
          <div class="caption">Sentiment, %</div>
          <div class="delta value up">
            <nb-icon icon='arrow-up' pack="eva"></nb-icon>
            14%
          </div>
          <div class="delta value down">
            <nb-icon icon='arrow-down' pack="eva"></nb-icon>
            75%
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        BATTERY- -Non-removable Li-Ion 3046 mAh battery (11.67 Wh)
        Charging-Fast battery charging 18W: 50% in 30 min
        USB Power Delivery 2.0
        Qi wireless charging
        Talk time-Up to 18 h (multimedia)
        Music play-Up to 65 h
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
      <nb-accordion-item-header>
        <div class="visited-date">
          Display
        </div>

        <div class="visited-pages-count">
          <div class="caption">Total Tweets</div>
          <div class="value">3326</div>
        </div>

        <div class="visited-percentages">
          <div class="caption">Sentiment, %</div>
          <div class="delta value up">
            <nb-icon icon='arrow-up' pack="eva"></nb-icon>
            42%
          </div>
          <div class="delta value down">
            <nb-icon icon='arrow-down' pack="eva"></nb-icon>
            47%
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Type-Super Retina XDR OLED capacitive touchscreen, 16M colors
        Size-5.8 inches, 84.4 cm2 (~82.1% screen-to-body ratio)
        Resolution-1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)
        Protection-Scratch-resistant glass, oleophobic coating
        -800 nits max brightness
        Dolby Vision
        HDR10
        Wide color gamut
        True-tone
        120Hz touch-sensing
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</div>